body {
    background-color:black; 
    font-family: Arial, sans-serif; 
    color: white;
}

h1 {
    color:gray;
    font-family: Verdana, sans-serif;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25 px;
    align-self: center;
}